In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("demo_project/data.csv")

In [3]:
df.head()

,text,author,tags
0,"\n “I'm selfish, impatient and a little i...",\n Marilyn Monroe\n,"attributed-no-source,best,life,love,mistakes,o..."
1,\n “Be yourself; everyone else is already...,\n Oscar Wilde\n,"attributed-no-source,be-yourself,honesty,inspi..."
2,\n “Two things are infinite: the universe...,\n Albert Einstein\n,"attributed-no-source,human-nature,humor,infini..."
3,"\n “So many books, so little time.”\n",\n Frank Zappa\n,"books,humor"
4,\n “A room without books is like a body w...,\n Marcus Tullius Cicero\n,"attributed-no-source,books,simile,soul"

In [9]:
df['author']

0            \n    Marilyn Monroe\n
1               \n    Oscar Wilde\n
2           \n    Albert Einstein\n
3               \n    Frank Zappa\n
4     \n    Marcus Tullius Cicero\n
                   ...
85                \n    Anaïs Nin\n
86                \n    Dr. Seuss\n
87               \n    Bob Marley\n
88          \n    Lemony Snicket,\n
89         \n    Suzanne Collins,\n
Name: author, Length: 90, dtype: object

In [27]:
df.shape

(90, 3)

In [51]:
df['author_new'] = df['author_new'].str.join(" ")

In [52]:
df

,text,author,tags,author_new
0,"\n “I'm selfish, impatient and a little i...",\n Marilyn Monroe\n,"attributed-no-source,best,life,love,mistakes,o...",Marilyn Monroe
1,\n “Be yourself; everyone else is already...,\n Oscar Wilde\n,"attributed-no-source,be-yourself,honesty,inspi...",Oscar Wilde
2,\n “Two things are infinite: the universe...,\n Albert Einstein\n,"attributed-no-source,human-nature,humor,infini...",Albert Einstein
3,"\n “So many books, so little time.”\n",\n Frank Zappa\n,"books,humor",Frank Zappa
4,\n “A room without books is like a body w...,\n Marcus Tullius Cicero\n,"attributed-no-source,books,simile,soul",Marcus Tullius Cicero
...,...,...,...,...
85,"\n “We don't see things as they are, we s...",\n Anaïs Nin\n,NaN,Anaïs Nin
86,\n “Sometimes the questions are complicat...,\n Dr. Seuss\n,"attributed-no-source,life",Dr. Seuss
87,"\n “You may not be her first, her last, o...",\n Bob Marley\n,love,Bob Marley
88,\n “Never trust anyone who has not brough...,"\n Lemony Snicket,\n","books,reading","Lemony Snicket,"
89,"\n “You love me. Real or not real?""","\n Suzanne Collins,\n","katniss,love,peeta,suzanne-collins,the-hunger-...","Suzanne Collins,"

In [23]:
df['author'].str.contains(r"\w\s\w")

,text,author,tags
0,"\n “I'm selfish, impatient and a little i...",\n Marilyn Monroe\n,"attributed-no-source,best,life,love,mistakes,o..."
1,\n “Be yourself; everyone else is already...,\n Oscar Wilde\n,"attributed-no-source,be-yourself,honesty,inspi..."
2,\n “Two things are infinite: the universe...,\n Albert Einstein\n,"attributed-no-source,human-nature,humor,infini..."
3,"\n “So many books, so little time.”\n",\n Frank Zappa\n,"books,humor"
4,\n “A room without books is like a body w...,\n Marcus Tullius Cicero\n,"attributed-no-source,books,simile,soul"
...,...,...,...
84,\n “Women and cats will do as they please...,\n Robert A. Heinlein\n,"cats,humor,women"
85,"\n “We don't see things as they are, we s...",\n Anaïs Nin\n,NaN
87,"\n “You may not be her first, her last, o...",\n Bob Marley\n,love
88,\n “Never trust anyone who has not brough...,"\n Lemony Snicket,\n","books,reading"
89,"\n “You love me. Real or not real?""","\n Suzanne Collins,\n","katniss,love,peeta,suzanne-collins,the-hunger-..."

In [48]:
class Geturls():
    def __init__():
        pass

    def __repr__():